
<style>
    .form-control {
        width: 100%
    }
    .form{
        border: 5px solid black;
    }
</style>

<div>
    <form class="form">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control width:100px" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Enter contact number</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  order now
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../assets/imo/or1.gif" width="100%"/>
        
        <h1 class="h4">Thanks For Your Order! </h1>
        <h6 class="h6">your order has been successfull placed</h6>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</form>
    
</div>
