
 
 <div>
        <nav class="navbar n navbar-expand-lg  bg-primary ">
          <div class="container-fluid  ">
            <a class="navbar-brand" href="#">
              <img src="../assets/imo/Flipkart-Logo.wine.png" alt="Logo" width="100" height="44" class="d-inline-block align-text-top imag">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <form class="d-flex se" role="search ">
              <input class="form-control me-2 in" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            
            <button class="btn btn-primary d-flex justify-content:center" >
              
              <a routerLink="/cart"><fa-icon style="font-size: 30px ; color: black;" [icon]="icon"></fa-icon></a>
              <div style="font-size: 10px;" class="badge bg-dark">{{cartItemCount}}</div>
              <!-- <a class="navbar-brand" href="#">
                <img src="../assets/imo/cart.png" class="img-fluid" width='40'  alt="#">
              </a> -->
            </button>

            
      
          </div>
        </nav>

        <div class="container-fluid bg-white content-container" >
          <div class="row d-flex content-part">
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/bag.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Home & Furniture</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/computer.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Computer</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/ldki.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Fashion</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/gudda.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Beauty Toys</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/machin.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Appliance</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/nirma.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Grocery</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/phon.png" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Mobiles</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/plane.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Travel</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/helmets.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Helmet</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/bag.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Bag</p>
              </div>
            </div>

  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/head.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Headset</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/camra.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Camra</p>
              </div>
            </div>
  
            <div class="card" style="width: 90px  ">
              <img src="../assets/imo/bike.webp" class="card-img-top" width="10px" alt="...">
              <div class="card-body">
                <p class="card-text">Two Wheelers</p>
              </div>
            </div>
          </div>
        
        </div>






        
        
        </div>

